<div class="md:m-16 m-2">
  <mat-accordion>
    <mat-expansion-panel  *ngFor="let roomate of colocation?.roomates" >
      <mat-expansion-panel-header>
        <mat-panel-title class="capitalize">
          {{roomate?.name}}
        </mat-panel-title>
        <mat-panel-description>
          {{roomate.taches.length}} tâche(s) restante(s)
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="flex flex-row">
        <div class="flex-1">
          <h2>Tâches privées</h2>
          <ul>
            <li *ngFor="let tache of getTachesByScope('PRIVEE',roomate.name)">
                {{tache.nom}}
          </ul>
        </div>
        <div class="flex-1">
          <h2>Tâches communes</h2>
          <ul>
            <li *ngFor="let tache of getTachesByScope('COMMUNE',roomate.name)">
                {{tache.nom}}
            </li>
          </ul>
        </div>
      </div>

    </mat-expansion-panel>
  </mat-accordion>
</div>
