<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between stretch">
  <div class="mb10" fxFlex="24" fxFlex.lt-lg="49">
    <app-stat [bgClass]="'danger'" icon="task" [count]="nbrTachePrivees" label="Tâches Privées"></app-stat>
  </div>
  <div class="mb10" fxFlex="24" fxFlex.lt-lg="49">
    <app-stat [bgClass]="'warn'" icon="task" [count]="nbrTacheCommunes" label="Tâches Communes"></app-stat>
  </div>
  <div class="mb10" fxFlex="24" fxFlex.lt-lg="49">
    <app-stat [bgClass]="'success'" [icon]="'schedule'" [count]="7-abs(getNextMonday().getDate() - getNow().getDate()) + 'j et ' + (23-abs(getNextMonday().getHours() - getNow().getHours()))+ 'h ' + (60-(abs((getNextMonday().getMinutes() - getNow().getMinutes())))) + 'm'" label="Avant Reset des Tâches"></app-stat>
  </div>
  <div class="mb10" fxFlex="24" fxFlex.lt-lg="49">
    <app-stat [bgClass]="'info'" icon="people" [count]="nbrColocataires" label="Colocataires"></app-stat>
  </div>
</div>

<div class="mt20" fxLayout="row" fxLayoutAlign="space-between stretch" fxLayout.lt-md="column" fxLayoutGap="20px">
  <app-tache-list
    fxFlex
    [taches]="getTachesByScope('PRIVEE',colocationService.userConnected)"
    title="Tâches privées"
    color="warn"
    >

  </app-tache-list>
  <app-tache-list 
    fxFlex
    [taches]="getTachesByScope('COMMUNE',colocationService.userConnected)"
    title="Tâches communes"
    color="accent"
    >

  </app-tache-list>
  <!-- <mat-card fxFlex *ngFor="let item of places">
    <img mat-card-image [src]="item.imgSrc">
    <mat-card-header style="justify-content: center">
      <mat-card-title>
        <h3 class="m-0">{{item.name}}</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      {{item.description}}
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>{{item.charge}}</button>
      <button mat-button>
        <mat-icon class="location-icon">location_on</mat-icon> {{item.location}}
      </button>
    </mat-card-actions>
  </mat-card> -->


<!-- 

  <div fxFlex>
    <mat-accordion>
      <mat-expansion-panel  *ngFor="let roomate of colocation?.roomates" >
        <mat-expansion-panel-header>
          <mat-panel-title class="capitalize">
            {{roomate?.name}}
          </mat-panel-title>
          <mat-panel-description>
            {{roomate.taches.length}} tâche(s) restante(s)
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="flex flex-row">
          <div class="flex-1">
            <h2>Tâches privées</h2>
            <ul>
              <li *ngFor="let tache of getTachesByScope('PRIVEE',roomate.name)">
                  {{tache.nom}}
            </ul>
          </div>
          <div class="flex-1">
            <h2>Tâches communes</h2>
            <ul>
              <li *ngFor="let tache of getTachesByScope('COMMUNE',roomate.name)">
                  {{tache.nom}}
              </li>
            </ul>
          </div>
        </div>
  
      </mat-expansion-panel>
    </mat-accordion>
  </div> -->
  
</div>
